body {
    height: 3000px;
}

header {
    height: 80px;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.gridWrap {
    max-width: 676px;
    margin: 0 auto;
}

#blok1 {
    margin-top: 140px;
    background: #129D8D;
    width: 676px;
    height: 160px;
    float: none;
}

#blok2 {
    margin-top: 60px;
    background: #DE1B93;
    width: 308px;
    height: 160px;
    float: left;
}

#blok3 {
    margin-top: 60px;
    background: #129D8D;
    width: 308px;
    height: 160px;
    float: right;
}

#blok4 {
    margin-top: 60px;
    background: #B4AA30;
    width: 308px;
    height: 160px;
    float: left;
}

#blok5 {
    margin-top: 60px;
    background: #7C2ED8;
    width: 308px;
    height: 160px;
    float: right;
}

#blok6 {
    margin: 60px 0;
    background: #B4AA30;
    width: 676px;
    height: 160px;
    float: left;
}