header {
    background-color: #ed6b71;
    height: 10.4vw;
    padding-top: 1.8vw;
}

.logo {
    height: 9vw;
}

.center {
    text-align: center;
  }

body {
    margin: 0;
}

.carlton {
    text-align: center;
}

.foto {
    height: 15vw;
}

.box {
    padding: 3vw 3vw 1.2vw 3vw;
    margin: 2.6vw 29vw 2.6vw 29vw;
    outline: solid #8a8889 0.25vw ;
    background-color: #d9d8d7;
}

.titel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}

.tekst {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.rood {
    color: red;
}

.tekst-eronder {
    padding: 0vw 3vw 0vw 3vw;
    margin: 2.6vw 29vw 2.6vw 29vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.tekst-eronder-eronder {
    padding: 0vw 3vw 0vw 3vw;
    margin: 0vw 0vw 3vw 29vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

li {
    margin: 1.5vw 0;
}

footer {
    background-color: #1e2021;
    height: 4.5vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    padding-left: 31.5vw;
    padding-right: 31.5vw;
}

.white {
    color: white;
}
